

  {%extends 'layouts/main.php.twig' %}
  {%block body %}
    <!-- BODY CONTENT # EXCLUDES NAVBAR -->

    <section>
      
      
      {% set pictures = {
    one:    { link: "1holmer.png", desc: "holmer preschool website" },
    two: { link: "1norton.jpg", desc: "norton daycare website." },
    three:     { link: "1octocat.png", desc: "github version control!" },
    four:     { link: "1silex.png", desc: "built with silex framework." },
    five:     { link: "1steve1.png", desc: "dads portfolio site." },
    siz:     { link: "1steve2.jpg", desc: "dads wordpress site." }
} %}
    

    <ul id="gallery">
      
      
    {% for pic in pictures %}
      <li>
        <a href="{{ app.request.getbaseurl }}/web/assets/img/{{ pic.link }}">
          <img src="{{ app.request.getbaseurl }}/web/assets/img/{{ pic.link }}" alt="">
          <p>{{pic.desc}}</p>
        </a>  
      </li>        
        
        
        
    {% endfor %}
    </ul>
    
    
    
    
    


<!-- page specific scripts -->    
    <script>
window.onload = function() {
  document.getElementById('home').className = 'selected';
};
</script>  
    
    </section>

  <!-- BODY CONTENT # EXCLUDES FOOTER -->
{%endblock body%}
  






